@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.content {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* Head-nav */

.head-nav {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
}

.head {
    flex-grow: 0.55;
}

.head h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #212121;
}

.nav {
    flex-grow: 0.45;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.nav-item a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #212121;
}

.search-img {
    width: 20px;
    height: 20px;
}

/* Head-logo */

.head-logo {
    width: 100%;
    height: 656px;
    background: url('../asserts/header/header-back.jpg') no-repeat center;
}

.head-content {
    display: flex;
    padding-top: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    height: 100%;
}

.head-text {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    flex-grow: 0.4;
    flex-basis: auto;
}

.head-text h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}

.head-text h3 {
    font-size: 22px;
    font-weight: 400;
}

.head-buttons {
    margin-right: -25px;
    flex-grow: 0.3;
}

.head-button{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
    border: 4px solid #ffffff;
    width: 214px;
    height: 65px;
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: backgound-color .2s linear;
    transition: border-color .2s linear;
}

.head-button:hover {
    background-color: #00897b;
    border-color: #00897b;
}

.img-button-hreder {
    flex-grow: 0.1;
}

/* About */

.about {
    height: 547px;
}

.section-title {
    position: relative;
    text-align: center;
    height: 95px;
    width: 630px;
    margin: 110px auto;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 38px;
    text-transform: capitalize;
}

.title-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.section-info {
    width: 90%;
}

.info-item {
    display: inline-block;
    width: 200px;
    text-align: center;
    vertical-align: top;
    margin-left: 14%;
}

.section-info div:last-child {
    margin-right: 0;
}

.info-item h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 41px 0 29px 0;
}

.info-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    vertical-align: top;
    line-height: 1.5;
}

/* Services */

.services {
    background-color: #e4fdf9;
    height: 1414px;
    padding-top: 40px;
}

.section-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-item {
    padding: 60px 50px ;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    text-align: center;
    width: 370px;
    height: 478px;
    font-family: 'Open Sans', sans-serif;
    flex-grow: 0.05;
    margin-bottom: 33px;
}

.services-item:hover {
    box-shadow: 0 0 10px  #333333;
    background-color: #00897b;
    color: #ffffff;
}

.services-item:hover .read-more {
    color: #ffffff;
    border-color: #ffffff;
}

.services-item:hover .phone-img {
    filter: brightness(0) invert(1);
}

.services-item p {
    flex-grow: 0.3;
    width: 270px;
    height: 82;
    line-height: 1.6;
    margin-bottom: 51px;
}

.services-item .phone-img {
    background: url('/asserts/services/black-phone.png') center no-repeat;
    width: 76px;
    height: 116px;
}

.services-item a {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #212121;
    flex-grow: 0.2;
    width: 152px;
    height: 57px;
    border: 2px solid #212121;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.services-item h5 {
    margin: 40px 0 25px 0;
    font-size: 20px;
    font-weight: 600;
}

/* Works */

.works {
    margin-top: 135px;
    height: 1550px;
}

.works-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 120px;
}

.works-buttons a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #00897b;
    padding: 0.8em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
    margin-left: 16px;
    margin-right: -4px;
    transition: color 0.2s linear;
}

.works-buttons a:hover{
    color: #ffffff;
    background-color: #00897b;
}

.works-imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blackout {
    position: absolute;
    background-color: black;
    opacity: 0;
    width: 370px;
    height: 372px;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackout .tit {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #bfbfbf;
}

.blackout .text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #bfbfbf;
}

.work-item {
    margin-bottom: 30px;
}

.work-item:hover .blackout {
    opacity: 0.8;
}

.view-all {
    font-family: 'Roboto', sans-serif;
    margin: 110px 0 0 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #ffffff;
    text-decoration: none;
    padding: 23px 63px;
}

/* Plans */

.plans {
    height: 1150px;
    background-color: #f0f1f1;
    padding-top: 10px;
}

.plans-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    height: 670px;
    background-color: #ffffff;
}

.card-header {
    background: url('/asserts/plans/cart-header.png')
    center no-repeat;
    width: 370px;
    height: 209px;
    text-align: center;
    padding-top: 47px;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-transform: capitalize;
    color: #ffffff;
    padding-bottom: 30px;
}

.card-header-text {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.dollar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    vertical-align: super;
}

.per-month {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.card-body-info {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #3f3f3f;
    text-align: center;
    text-transform: capitalize;
}

.card-body {
    margin-top: 50px;
}

.card-body-info:after {
    content: '';
    margin: 14px auto 37px auto;
    display: block;
    width: 178px;
    background-color: #bfbfbf;
    height: 1px;
}

.order-now {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    border: 2px solid #000000;
    padding: 20px 25px;
    margin: 57px auto;
    width: 181px;
    height: 60px;
    display: block;
    transition: text-transform .1s linear,
    background-color .2s linear, 
    border-color .1s linear;
}

.order-now:hover {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #00897b;
    border-color: #00897b;
}

.card:hover {
    box-shadow: 0 0 10px  #333333;
}

/* Team-members */

.team {
    height: 1000px;
}

.team-members {
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
}

.team-members-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    height: 490px;
}

.team-members-item {
    flex-grow: 0.6;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 273px;
    flex-grow: 0.2;
}

.member-info {
    text-align: center;
}

.member-info .name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    margin-bottom: 17px;
    text-transform: capitalize;
}

.member-info .post {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #212121;
    text-transform: capitalize;
}

.social-item {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: #f0f1f1;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-item:hover {
    background-color: #3949ab;
}

.social-item:hover img {
    filter: brightness(0) invert(1);
}

.dots {
    margin: 124px auto 0 auto;
    width: 64px;
}

.dot {
    background-color: #00897b;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;
}

.dot-active {
    background-color: #3949ab;
}

/* Blog */

.blog {
    background-color: #e4fdf9;
    padding-top: 1px;
    height: auto;
}

.blog-contnet-item {
    display: flex;
}

.item-text {
    padding: 65px 120px 189px 30px;
}

.blog-item-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #00897b;
    text-transform: capitalize;
}

.title-date {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 30px 0 35px 0;
}

.title-date .date {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #212121;
    flex-grow: 0.4;
}

.item-text .title-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #212121;
    line-height: 1.5;
}

.more-view {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    left: 40%;
    text-transform: uppercase;
    margin: 125px 0;
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 55px;
    display: inline-block;
}

/* Contacts */

.contacts {
    background: url('/asserts/Contacts/bg.png')
    center no-repeat;
    height: 1250px;
    padding-top: 1px;
}

.contacts .content {
    position: relative;
    max-width: 1030px;
    width: 100%;
    height: 0;
    margin: 0 auto;
}

.contacts .section-title {
    text-align: center;
    height: 95px;
    width: 630px;
    margin: 110px auto;   
}

.contacts .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
}

.contacts .title-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.5;
}

.contacts-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    height: 200px;
}

.contact-img {
    width: 106px;
    height: 106px;
    background-color: #3949ab;
    border-radius: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.contact-item-body {
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
}

form {
    height: 550px;
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.contact-input {
    width: 500px;
    height: 85px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3f3f3f;
    border-radius: 11px;
    border-width: 0;
    padding: 38px 0 38px 20px;
    outline: none;
}

.contact-input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #acacac;
}

.message {
    height: 325px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3f3f3f;
    border-radius: 11px;
    border-width: 0;
    padding: 20px 0 0 20px;
    outline: none;
    resize: none;
}

.message::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #acacac;
    text-transform: capitalize;
}

.send {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    text-transform: uppercase;
    align-self: flex-end;

    border-radius: 11px;
    border-width: 0;
}

.footer {
    width: 1400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    padding: 23px 0;
    border: 1px solid #333333;
    text-align: center;
    margin: 0 auto -20px auto;
}